<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.13.0/dist/full.css" rel="stylesheet">
    <!-- Toastr CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>금융 퀴즈</title>
</head>

<body class="bg-gray-100 text-gray-900 font-sans flex items-center justify-center h-screen">
<div class="container mx-auto p-10 w-full max-w-2xl">
    <h1 class="text-5xl mb-8 text-center font-semibold">금융 퀴즈</h1>

    <div class="quiz-container bg-white rounded-lg p-8 shadow-lg flex items-center justify-center h-full">
        <a> 끝 </a>
    </div>
</div>
<script src="../static/common.js"></script>
</body>
</html>