<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>솔직이</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
            rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <!-- <link href="lib/animate/animate.min.css" rel="stylesheet"> -->
    <link href="../view-data/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../view-data/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../view-data/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../view-data/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../view-data/css/style.css" rel="stylesheet">

    <style>
        @font-face {
            font-family: 'GongGothicMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
            font-weight: 100;
            font-style: normal;
        }

        * {
            font-family: 'GongGothicMedium';
        }

        h1 {
            font-family: 'GongGothicMedium';
        }

        h2 {
            font-family: 'GongGothicMedium';
        }

        h5 {
            font-family: 'GongGothicMedium';
        }
    </style>
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>
<!-- Spinner End -->




</div>

<!-- Topbar Start -->
<div class="container-fluid bg-primary bg-gradient text-white d-none d-lg-flex">
    <div class="container py-3">
        <div class="d-flex align-items-center">
            <a th:href="@{/view/index}">
                <h2 class="text-white fw-bold m-0">솔직이</h2>
            </a>
            <div class="ms-auto d-flex align-items-center">
                <span sec:authorize="isAuthenticated()">
                    <span sec:authentication="Principal.username">로그인 한 사용자는 볼 수 있습니다.</span><span> 님 환영합니다. </span>

                </span>
                <span sec:authorize="isAnonymous()">로그인하지 않은 사용자는 볼 수 있습니다.</span>


                <div class="ms-3 d-flex">

                    <span sec:authorize="isAuthenticated()">
                        <a type="button" class="btn btn-light text-primary rounded-pill" th:href="@{/view/logout}">로그아웃</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="index.html" class="navbar-brand d-lg-none">
                <h1 class="fw-bold m-0 ">솔직이</h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#index" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">About</a>
                    <a href="#service" class="nav-item nav-link">Services</a>
                    <a href="#project" class="nav-item nav-link">Projects</a>
                </div>
                <div class="ms-auto d-none d-lg-block">
                    <a th:href="@{/view/sign-in}" class="btn btn-primary rounded-pill py-2 px-3">시작하기</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Carousel Start -->
<div class="container-fluid px-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" style="{opacity: 30}" src="../view-data/img/main_pic1.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="flex text-start">
                                <p class="fs-4 text-white animated slideInRight">신한은행
                                    <strong style="background-color: blue;">치매예방 서비스</strong>
                                </p>
                                <div class="flex">
                                    <p class="display-1 mb-4 animated slideInRight" style="color: blue;">하나의 계좌 <span
                                            style="color: white;"
                                            class="display-1  mb-4 animated slideInRight">로,</span></p>

                                </div>
                                <div class="flex">
                                    <p class="display-1  mb-4 animated slideInRight" style="color: blue;">건강
                                        <span class="display-1 text-white animated slideInRight">까지</span></p>
                                </div>
                                <a sec:authorize="isAnonymous()" th:href="@{/view/one-auth}"
                                   class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">진단 서비스
                                    시작하기</a>
                                <a sec:authorize="isAuthenticated()" th:href="@{/diagnosis}"

                                   class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">진단 서비스
                                    시작하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-70" src="../view-data/img/main_pic4.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="flex text-end">
                            <p class="fs-4 text-white animated slideInLeft">신한은행<strong>치매진단</strong>
                            </p>
                            <div>
                                <p class="display-1 text-white animated slideInLeft">진단서비스</p>
                            </div>
                            <div>
                                <p class="display-1 text-white animated slideInLeft">제공</p>
                            </div>
                            <a sec:authorize="isAnonymous()" th:href="@{/view/one-auth}"
                               class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">진단 서비스
                                시작하기</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/game}"
                               class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">진단 서비스

                                시작하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- Copyright Start -->
<div class="container-fluid copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="fw-medium text-light" href="#">SOLJIGI</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a class="fw-medium text-light" href="">SOLJIGI</a>
                Distributed By <a class="fw-medium text-light" href="">SOLJIGI</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../view-data/lib/wow/wow.min.js"></script>
<script src="../view-data/lib/easing/easing.min.js"></script>
<script src="../view-data/lib/waypoints/waypoints.min.js"></script>
<script src="../view-data/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../view-data/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="../view-data/js/main.js"></script>
</body>

</html>