<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="~{/user/fragments/header :: headerFragment}">
</head>

<body>
<nav th:replace="~{/user/fragments/navbar :: navFragment}"></nav>
<!-- Navbar End -->



<!-- Carousel Start -->
<a name="index"></a>
<div class="container-fluid px-0 mt-5">
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;"> <!-- 화면의 80% 높이만큼 중앙 정렬을 위한 스타일 추가 -->
        <div class="card shadow-lg" style="max-width: 600px;">
            <div class="card-body">
                <p class="display-5 mb-4 text-center">
                    <span>계좌 인증으로 시작하기</span>
                </p>
                <div class="d-flex flex-column align-items-center">
                    <div class="input-group mb-3 d-flex flex-column">
                        <div class="mb-2">
                            <i class="fas fa-key fa-lg fa-fw"></i>
                            <label for="account-number-input" class="form-label">계좌번호</label>
                        </div>
                        <div class="d-flex">
                            <div class="input-group mb-2 mr-2">
                                <input type="text" id="account-number-input" name="accountNumber"
                                       class="form-control"
                                       placeholder="계좌번호 입력"
                                       aria-label="Recipient's username"
                                       aria-describedby="basic-addon2">
                                <button class="btn btn-primary custom-btn" id="one-auth-btn" style="width: 100px">확인</button>
                            </div>
                            <button class="btn btn-primary custom-btn mb-2" id="getTransAction" style="width: 200px">입금 내역 조회</button>
                        </div>
                        <div class="input-group mb-2">
                            <input type="text" id="configKey" class="form-control" placeholder="4자리 입력">
                            <button class="btn btn-primary ml-2" id="accountConfig">인증하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a name="about"></a>
<!-- Carousel End -->

<!-- Copyright End -->
<footer th:replace="~{/user/fragments/footer :: footerFragment}"></footer>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/view-data/lib/wow/wow.min.js"></script>
<script src="/view-data/lib/easing/easing.min.js"></script>
<script src="/view-data/lib/waypoints/waypoints.min.js"></script>
<script src="/view-data/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/view-data/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="/view-data/js/one-auth.js"></script>
<script src="/view-data/js/main.js"></script>

</body>

</html>