<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="/css/login/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Try Toast Alert !! -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
        img[src="/css/login/sol4.png"] {
            width: 300px;
            height: 170px;
        }
    </style>
</head>

<body>
<div class="container" style="position: relative">
    <div class="login-content">
        <div style="margin-bottom: 1rem;">
            <h2 class="title" style="color:#0e31f7">계좌 <span style="color:#0e0f1a">인증</span></h2>
        </div>
        <img style="margin-bottom: 1rem;" src="/css/login/sol4.png">

        <form>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div class="div ">
                    <h5>계좌번호</h5>
                    <input id="account-number-input" type="text" class="input">
                </div>
            </div>

            <div class="input-div">
                <div class="i">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <div class="div">
                    <h5>인증번호</h5>
                    <input id="configKey" type="text" class="input">
                </div>
            </div>

            <div style="margin-top: 1rem;">
                <button type="button" class="btn" id="one-auth-btn" style="margin-bottom: 1rem;">인증 번호 보내기</button>
                <button type="button" class="btn" id="accountConfig" style="margin-top: 1rem;">인증하기</button>
            </div>
            <button type="button" class="btn" id="getTransAction"
                    style="position: absolute;
                           width: 100px;
                           right: 10px;
                           bottom: 10px;
                           font-size: 0.7rem;
                           padding: 5px 10px;
                           color: #a0a0a0;
                           background-image: linear-gradient(to right, #f0f0f0, #f0f0f0, #f0f0f0);">입금 내역 조회</button>
            <h5><span style="color:blue">S</span>HINHAN X <span style="color:blue">S</span>SAFY</h5>
        </form>
    </div>
</div>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/view-data/lib/wow/wow.min.js"></script>
<script src="/view-data/lib/easing/easing.min.js"></script>
<script src="/view-data/lib/waypoints/waypoints.min.js"></script>
<script src="/view-data/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/view-data/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="/view-data/js/one-auth.js"></script>
<script type="text/javascript" src="/js/login/login.js"></script>

</body>

</html>