<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/user/fragments/header :: headerFragment}">
</head>

<body>
<nav th:replace="~{/user/fragments/navbar :: navFragment}"></nav>
<!-- Navbar End -->


<!-- Carousel Start -->
<a name="index"></a>
<div class="container-fluid px-0">
    <div class="card bg-dark text-white">
        <img class="card" style="opacity: 0.65;" src="/view-data/img/one-auth-img.jpg"
             alt="Card image">
        <div class="card-img-overlay">
            <div class="d-flex flex-column">
                <div class="col-sm-12">
                    <p class="display-1 mb-4 animated slideInRight" style="color: white;">한 번의
                        <span style="background-color: blue;"
                              class="display-1  mb-4 animated slideInRight">계좌 인증으로</span></p>
                </div>
                <div class="col-sm-12">
                    <p class="fs-4 text-white animated slideInRight">쉽고 재미있는
                        <strong style="background-color: blue;">치매 진단 / 치매 예방 게임</strong>
                    </p>
                </div>
                <div class="d-flex row justify-content-center">
                    <div class="input-group mb-3">
                        <input type="text" id="account-number-input" name="accountNumber" class="form-control"
                               placeholder="계좌번호를 입력하세요."
                               aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-primary" id="one-auth-btn">1원인증서비스</button>
                        <button class="btn btn-light" id="getTransAction">입금내역 확인하기</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="configKey" class="form-control">
                        <button class="btn btn-primary" id="accountConfig">인증하기</button>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="quizBtn" class="btn btn-outline-primary" disabled
                            th:onclick="|location.href='@{/game}'|"> 퀴즈게임
                    </button>
                    <button id="diagnosisBtn" class="btn btn-outline-primary" disabled
                            th:onclick="|location.href='@{/diagnosis}'|">진단검사
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>
<a name="about"></a>
<!-- Carousel End -->



<!-- Copyright End -->
<footer th:replace="~{/user/fragments/footer :: footerFragment}"></footer>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
        class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/view-data/lib/wow/wow.min.js"></script>
<script src="/view-data/lib/easing/easing.min.js"></script>
<script src="/view-data/lib/waypoints/waypoints.min.js"></script>
<script src="/view-data/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/view-data/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="/view-data/js/one-auth.js"></script>
<script src="/view-data/js/main.js"></script>

</body>

</html>