<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/diagnosis/diagnosisResult.css}"/>
    <script src="/js/diagnosis/diagnosisResult.js" defer></script>
    <title>치매진단검사</title>
</head>
<!-- /header -->
<body>
<div class="grid">
    <h1>퀴즈</h1>
    <div id="quiz">
        <p id="question"></p>
        <div class="buttons">
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
    </div>
</div>
</body>
<footer>
    <p id="progress">진행 정보</p>
</footer>
</html>