* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.same-picture__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
}

.same-picture__timer {
    margin: 0px 10px;
}

.same-picture__problem {
    font-size: 30px;
}

.same-picture__cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.same-picture__cards > div {
    display: flex;
}

.same-picture__card:hover {
    font-size: 50px;
    transition: all 150ms;
    cursor: pointer;
}

.same-picture__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px black solid;
    margin: 5px;
    text-align: center;
    font-size: 40px;
}

.same-picture__card-selected {
    font-size: 50px;
    border: 5px rgb(255, 54, 54) solid;
    background-color: rgb(249, 255, 61);
}

.same-picture__btn-container {
    display: flex;
}

.same-picture__btn {
    width: 80px;
    margin: 5px;
}
