body {
    font-size: 18px;
}

.grid {
    padding: 10px 50px 30px;
    margin: 50px auto;
    width: 600px;
    background: #fff;
    border: 2px solid #0000FF;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #cbcbcb;
}

.grid h1 {
    color: #333;
    font-size: 2.4em;
    text-align: center;;
}

#question {
    padding: 10px 2em;
    background: #0064FF;
    border-radius: 15px;
    font-size: 24px;
    color: #fff;
}

#quiz {
    text-align: center;
}

#progress {
    font-size: 20px;
    color: #2b2b2b;
}

.buttons {
    padding: 30px 20px;
    border: 2px solid #0000FF;
    border-radius: 20px;
}

.btn {
    margin: 10px 40px 20px 0;
    padding: 10px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #28A0FF;
    border: 1px solid #ffe3ed;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s;
}

.btn:nth-child(2n) {
    margin-right: 0;
}

.btn:hover {
    background: #c34c74;
    color: #fff;
}
