.diagnosis-memory__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
    height: 80px;
}

.diagnosis-memory__timer {
    margin: 20px 10px;
}

.diagnosis-memory__content {
    width: 90%;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagnosis-memory__problem {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.diagnosis-memory__btn {
    background-color: #727272;
    border: transparent;
    border-radius: 20px;
    margin: 10px;
    color: whitesmoke;
    font-size: 36px;
    cursor: pointer;
    height: 55px;
    transition: all 200ms ease-in;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagnosis-memory__btn:hover {
    background-color: #0876bb;
}

.diagnosis-memory__question {
    width: 100%;
    flex-grow: 1;
    background-color: #127bbd;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    line-height: 60px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.diagnosis-memory__input-form {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.diagnosis-memory__input {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.diagnosis-memory__submit-btn {
    background-color: #727272;
    border: transparent;
    border-radius: 20px;
    margin: 25px 10px 10px 10px;
    color: whitesmoke;
    font-size: 36px;
    cursor: pointer;
    height: 55px;
    transition: all 200ms ease-in;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagnosis-memory__submit-btn:hover {
    background-color: #0876bb;
}

.diagnosis-memory__footer {
    flex-grow: 1;
}

.diagnosis-memory__sentence > span {
    font-weight: 700;
    color: darkred;
}